@font-face {
    font-family: 'Spectral';
    src: url('../assets/fonts/Spectral/Spectral-Regular.eot');
    src: url('../assets/fonts/Spectral/Spectral-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Spectral/Spectral-Regular.woff2') format('woff2'),
    url('../assets/fonts/Spectral/Spectral-Regular.woff') format('woff'),
    url('../assets/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}