@import "~normalize.css";
@import "fonts.css";

body{
    background: #d6d6d6;
    font-family: 'Spectral';
}

.container{
    padding-right: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.logo{
    background: url(../assets/png.png) center/contain no-repeat;
    background: url(../assets/svg.svg) center/contain no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}